@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5 d-flex flex-wrap gap-3 mb-5" >


    <div class="category col d-flex flex-column justify-content-center align-items-center">
        

        <h4><a href="#" class="text-decoration-none text-light">CATEGORY TITLE  </a> </h4>
        <div > </div>
        <h5 class="fs-6">12 Posts</h5>
    </div>
    
    <div class="category col d-flex flex-column justify-content-center align-items-center">
        

        <h4><a href="#" class="text-decoration-none text-light">CATEGORY TITLE  </a> </h4>
        <h5 class="fs-6">12 Posts</h5>
    </div>
    <div class="category col d-flex flex-column justify-content-center align-items-center">


        <h4><a href="#" class="text-decoration-none text-light">CATEGORY TITLE  </a> </h4>
        <h5 class="fs-6">12 Posts</h5>
    </div>


    <div class="category col d-flex flex-column justify-content-center align-items-center">


        <h4><a href="#" class="text-decoration-none text-light">CATEGORY TITLE  </a> </h4>
        <h5 class="fs-6">12 Posts</h5>
    </div>


    <div class="category col d-flex flex-column justify-content-center align-items-center">


        <h4><a href="#" class="text-decoration-none text-light">CATEGORY TITLE  </a> </h4>
        <h5 class="fs-6">12 Posts</h5>
    </div>




</div>

