<div class="container bg-body-secondary mt-5 p-3  border border-dark mb-3 rounded">
    <div class="contact-card  d-flex flex-row flex-wrap justify-content-center align-items-top  gap-3 my-5 ">
        <div class="col d-flex flex-column ">

            <h1>تواصل معنا 📥</h1>
            <h4 class="mb-5">يسعدنا دائمًا تواصلكم معنا ودعمكم للتطوير من المحتوى العربي. ونرحب بكل
                الشراكات
                من قبل جميع الجهات.</h4>



            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">الإسم الكامل</label>
                <input type="text" class="form-control" id="formGroupExampleInput">

            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">بريدك الإلكتروني</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" />
            </div>

            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">موضوع الرسالة</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" />
            </div>


            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">محتوى الرسالة</label>
                <textarea type="text" class="form-control" id="formGroupExampleInput2"></textarea>
            </div>




            <button class="btn btn-primary" type="submit">إرسال الرسالة</button>


        </div>


        <div class="col mt-5">
            <img class="w-100" src="/Images/undraw_profile_data_re_v81r.svg" />
        </div>
    </div>



</div>