@using Humanizer
@model HomePageMV;
@using DAL.Entities;

<div class="d-flex flex-column gap-2 justify-content-center align-items-center  mt-5">
	<h1>
		اقرأ لتتعلم .. وتعلم لتنجح 🌠
	</h1>

	<h4 class="text-center fs-5 p-4 px-4">انضم لرحلة تعلم فريدة وممتعة باللغة العربية تضمن لك النجاح من خلال محتوى تقني متميز في مختلف مجالات هندسة البرمجيات</h4>
</div>



<div class="album py-5 bg-body-tertiary">



	<div class="container d-flex justify-content-center align-items-center flex-column items-center ">
		<h4 class="mb-5">تصفح الآن كافة المواضيع ⚡️</h4>
		<div id="blog-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

			<partial model="@Model.Posts" name="_PostsPartialView" />






		</div>

		<button  id="showmore" class="btn btn-dark mt-5">عرض المزيد</button>
	</div>
</div>



<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
	var page = 2 ; 
	var pageSize = 5 ; 


	$("#showmore").click(function ()  {
		$.ajax({
			url: `/User/Articles/LoadMoreArticlesCards?page=${page}&pageSize=${pageSize}`,
			success : function (data) {
				$("#blog-container").append(data);
				page++ ; 
			}
		})
	})
	





</script>



