@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <form>
        <img class="mb-4 w-100" src="/Images/undraw-signin.svg" alt="">
        <h1 class="h3 mb-3 fw-normal">تسجيل الدخول</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label dir="rtl" for="floatingInput">بريدك الإكتروني</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">كلمة المرور</label>
        </div>

        <div class="checkbox my-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">تسجيل الدخول</button>
       
    </form>


