@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row w-100 p-5 justify-content-center align-content-center">
    <div class="col-md-6 justify-content-center align-content-center">
       

        <h1> مرحبا، أهلا بك في أسطر</h1>
        <p>نحن نفخر بتقديم محتوى ذو جودة عالية يهدف إلى إثراء المعرفة وتوجيه القارئ نحو التطور والتعلم المستمر. كل هذا بفضلكم!</p>
      
        

        <button class="btn btn-primary"><a class="text-decoration-none text-white" href="#">لوحة التحكم </a> </button>
    </div>
    <div class="col-md-6">

        <img class="w-100" src="/Images/undraw_author_home.svg" />

    </div>

</div>

